package com.example.cursoNovaEra.repository;

import com.example.cursoNovaEra.domain.${EntityName};
import org.springframework.data.jpa.repository.JpaRepository;
import org.springframework.stereotype.Repository;

@Repository
public interface ${EntityName}Repository extends JpaRepository<${EntityName}, Long> {
    // Adicione métodos customizados aqui se necessário
    // Exemplo: List<${EntityName}> findByNome(String nome);
}
